<a href="https://colab.research.google.com/github/veeranna-spec/23CSBTB27/blob/main/list_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import numpy as np
list =(1,5,2,6,7)
list1=[3,6,1,8]
print(list)
print(list1)
print(type(list))
print(type(list1))

(1, 5, 2, 6, 7)
[3, 6, 1, 8]
<class 'tuple'>
<class 'list'>

In [ ]:
list=["Geeks","For","Geeks"]
list2="my first lab"
list3=4.5
list4=4+6
print(list)
print(list2)
print(type(list3))
print(type(list4))
print(list3)
print(list4)
print(list2[0])

['Geeks', 'For', 'Geeks']
my first lab
<class 'float'>
<class 'int'>
4.5
10
m